/* Regole generali */
:root {
    --dark-blue: #051E34;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
.main-header {
    height: 70px;
}

/* Simbolo della lente di ingrandimento nella barra di ricerca */
.main-header span.input-group-text {
    background-color: #E5E5E5;
}

/* Barra di ricerca */
.main-header input[type="text"].form-control {
    background-color: #E5E5E5;
}

/* Simbolo a destra della campanella per il dropdown */
.main-header .dropdown-toggle::after {
    display: none!important;
}

/* Posizione del dropdown */
.main-header .dropdown-menu[data-bs-popper] {
    left: auto!important;
    right: 0px!important;
}

/* Sidebar */
.sidebar {
    width: 145px;
    height: 100%;
    background-color: var(--dark-blue);
    background-image: url("../img/sidebar-bg.png");
}

/* Lista sidebar */
.sidebar .nav-item .nav-link:hover {
    background-color: #c9c9c9;
}

/* Main */
.main-content {
    height: calc(100vh - 70px);
}

/* Header del contenuto */
.content-header {
    min-height: 125px;
}

/* Pillola */
.content-header .text-bg-primary {
    background-color: #165BBA!important;
}

/* Offcanvas */
.content-header .offcanvas {
    width: 800px!important;
}

/* Tablet */
@media (max-width: 992px) {
    /* Posizione del dropdown */
    .main-header .navbar-nav .dropdown-menu {
        position: absolute;
    }
    /* Sidebar */
    .sidebar {
        width: 65px;
    }
}