/* Regole generali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
.main-header {
    min-height: 70px;
    background-color: wheat;
}

.dropdown-toggle::after {
    display: none!important;
}

.dropdown-menu[data-bs-popper] {
    left: auto!important;
    right: 0px!important;
}