/* Regole generali */
:root {
    --dark-blue: #051E34;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */
.main-header {
    height: 70px;
}

/* Simbolo a destra della campanella per il dropdown */
.main-header .dropdown-toggle::after {
    display: none!important;
}

/* Posizione del dropdown */
.main-header .dropdown-menu[data-bs-popper] {
    left: auto!important;
    right: 0px!important;
}

/* Sidebar */
.sidebar {
    width: 145px;
    background-color: var(--dark-blue);
    background-image: url("../img/sidebar-bg.png");
}

/* Header del contenuto */
.content-header {
    min-height: 125px;
}

/* Pillola */
.pill {
    background-color: #165BBA;
    border-radius: 999px;
    padding: 5px 10px;
}

/* Offcanvas */
.content-header .offcanvas {
    width: 800px!important;
}

/* Tablet */
@media (max-width: 992px) {
    /* Posizione del dropdown */
    .main-header .navbar-nav .dropdown-menu {
        position: absolute;
    }
    /* Sidebar */
    .sidebar {
        width: 65px;
    }
}